{% extends '::base.html.twig' %}

{% block content %}
    <div class="map-full-width">
        <div id="map"></div>
    </div>

    <section class="page-content no-padding">
        <div class="mid-space"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="contact-info">
                                <h3>Контактная информация</h3>
                                <div class="small-space"></div>
                                <p><i class="fa fa-location-arrow"></i>ул.Молодежная, дом46<br>г.Одинцово, Московская область</p>
                                <p><i class="fa fa-envelope"></i>Администрация сайта: <a href="#">6612388@mail.ru</a></p>
                                <p><i class="fa fa-phone"></i>Телефон: <a href="#">8-985-760-85-81</a></p>
                                <p><i class="fa fa-phone"></i>Офис: <a href="#">8-926-9997875</a></p>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <h3>Обратная связь</h3>
                            <div class="small-space"></div>
                            <form class="contact-form" id="contact">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="result"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="name-id" type="text" class="form-control" placeholder="Имя">
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="surname-id" type="text" class="form-control" placeholder="Фамилия">
                                    </div>
                                    <div class="col-sm-12">
                                        <input name="email-id" type="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="col-sm-12">
                                        <textarea name="message" class="form-control" placeholder="Ваше сообщение" rows="7"></textarea>
                                    </div>
                                </div>
                                <button type="submit" name="send" class="button default" id="submit-btn">
                                    <span class="pre-submit">Отправить</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-space"></div>
    </section> <!-- /.page-content -->
{% endblock %}