{% extends '::base.html.twig' %}

{% block content %}
	<div class="rev_slider_wrapper fullwidthbanner-container">

		<div id="slider-1" class="rev_slider fullwidthabanner" style="display:none;">
			<ul>

				<!-- Slide 1 -->
				<li data-transition="fade" data-slotamount="default" data-hideafterloop="0"
					data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
					data-masterspeed="600" data-rotate="0" data-saveperformance="off">

					<img src="{{ asset('assets/images/slide-1.jpg') }}" alt="" data-bgparallax="5"
						 data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

					<div class="tp-caption tp-resizeme arch-rev-title-1"
						 data-x="30"
						 data-y="center" data-voffset="-60"
						 data-fontsize="['48','48','48','42']"
						 data-lineheight="['60','60','50','60']"
						 data-width="none"
						 data-height="none"
						 data-whitespace="nowrap"
						 data-transform_idle="o:1;"
						 data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"
						 data-transform_out="auto:auto;s:300;"
						 data-start="500"
						 data-splitin="none"
						 data-splitout="none"
						 data-responsive_offset="on">Engineering Degrees
					</div>

					<div class="tp-caption tp-resizeme arch-desc-1"
						 data-x="30"
						 data-y="center" data-voffset="24"
						 data-fontsize="['21']"
						 data-lineheight="['32']"
						 data-width="['562','562','562','450']"
						 data-height="['52','52','52','79']"
						 data-whitespace="normal"
						 data-transform_idle="o:1;"
						 data-transform_in="y:50px;opacity:0;s:700;e:Power2.easeInOut;"
						 data-transform_out="opacity:0;s:300;"
						 data-start="840"
						 data-splitin="lines"
						 data-splitout="none"
						 data-responsive_offset="on"
						 data-elementdelay="0.1">Engineers work closely with architects and other disciplines of
						engineering (often in teams of consultants)
					</div>

					<div class="tp-caption hidden-sm hidden-xs"
						 data-x="30"
						 data-y="center" data-voffset="124"
						 data-width="none"
						 data-height="none"
						 data-whitespace="nowrap"
						 data-transform_idle="o:1;"
						 data-transform_in="x:-50px;opacity:0;s:700;e:Power4.easeOut;"
						 data-transform_out="y:50px;opacity:0;s:300;"
						 data-start="1480"
						 data-splitin="none"
						 data-splitout="none"
						 data-responsive_offset="on"
						 data-responsive="off"><a href="#" class="button accent icon-right">Read More</a></div>


				</li>

				<!-- Slide 2 -->
				<li data-transition="fade" data-slotamount="default" data-hideafterloop="0"
					data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
					data-masterspeed="1000" data-rotate="0" data-saveperformance="off">

					<img src="{{ asset('assets/images/slide-2.jpg') }}" alt="" data-bgparallax="5"
						 data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

					<div class="tp-caption tp-resizeme arch-rev-title-1 text-center"
						 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
						 data-fontsize="['55','55','45','30']"
						 data-lineheight="['65','65','65','38']"
						 data-width="['none','none','728','none']"
						 data-height="none"
						 data-whitespace="nowrap"
						 data-transform_idle="o:1;"
						 data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"
						 data-transform_out="auto:auto;s:300;"
						 data-start="500"
						 data-splitin="none"
						 data-splitout="none"
						 data-responsive_offset="on">Architectural Engineering<br>Degrees & Programs
					</div>

				</li>

				<!-- Slide 3 -->
				<li data-transition="fade" data-slotamount="default" data-hideafterloop="0"
					data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
					data-masterspeed="1000" data-rotate="0" data-saveperformance="off">

					<img src="{{ asset('assets/images/slide-3.jpg') }}" alt="" data-bgparallax="5"
						 data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

					<div class="tp-caption tp-resizeme arch-rev-title-1"
						 data-fontsize="['55','55','45','30']"
						 data-lineheight="['55','55','55','38']"
						 data-width="['none','none','728','none']"
						 data-height="['none']"
						 data-x="center" data-hoffset=""
						 data-y="center" data-voffset="-60"
						 data-transform_idle="o:1;"
						 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeInOut;"
						 data-transform_out="opacity:0;s:300;s:300;"
						 data-start="500"
						 data-splitin="none"
						 data-splitout="none"
						 data-responsive_offset="on">Outstanding Architectural Designs
					</div>

					<div class="tp-caption tp-resizeme arch-desc-1 text-center"
						 data-x="center" data-hoffset=""
						 data-y="center" data-voffset="20"
						 data-fontsize="['22']"
						 data-lineheight="['32']"
						 data-width="['562','562','562','450']"
						 data-height="['52','52','52','79']"
						 data-whitespace="normal"
						 data-transform_idle="o:1;"
						 data-transform_in="x:50px;opacity:0;s:1000;e:Power2.easeInOut;"
						 data-transform_out="opacity:0;s:300;s:300;"
						 data-start="500"
						 data-splitin="none"
						 data-splitout="none"
						 data-responsive_offset="on">This unusual polyhedron-shaped house was designed<br>by
						Colombian architect Manuel Villa
					</div>

				</li>

				<!-- Slide 4 -->
				<li data-transition="fade" data-slotamount="default" data-hideafterloop="0"
					data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
					data-masterspeed="1000" data-rotate="0" data-saveperformance="off">

					<img src="{{ asset('assets/images/slide-4.jpg') }}" alt="" data-bgparallax="5"
						 data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

					<div class="tp-caption tp-resizeme arch-rev-title-1"
						 data-x="30"
						 data-y="center" data-voffset="-71"
						 data-fontsize="['55','55','45','30']"
						 data-lineheight="['55','55','55','38']"
						 data-width="['none','none','728','none']"
						 data-height="['none']"
						 data-transform_idle="o:1;"
						 data-transform_in="y:-50px;opacity:0;s:1000;e:Power2.easeInOut;"
						 data-transform_out="opacity:0;s:300;s:300;"
						 data-start="500"
						 data-splitin="none"
						 data-splitout="none"
						 data-responsive_offset="on">
						<mark>Construction</mark>
						Engineering
					</div>

					<div class="tp-caption tp-resizeme arch-desc-1"
						 data-x="30"
						 data-y="center" data-voffset="24"
						 data-fontsize="['22']"
						 data-lineheight="['32']"
						 data-width="['562','562','562','450']"
						 data-height="['52','52','52','79']"
						 data-whitespace="normal"
						 data-transform_idle="o:1;"
						 data-transform_in="y:50px;opacity:0;s:1000;e:Power2.easeInOut;"
						 data-transform_out="opacity:0;s:300;s:300;"
						 data-start="500"
						 data-splitin="none"
						 data-splitout="none"
						 data-responsive_offset="on">Tools, and methods — that can add value to<br> construction
						projects and organizations with focus.
					</div>

					<div class="tp-caption tp-resizeme hidden-sm hidden-xs"
						 data-x="30"
						 data-y="center" data-voffset="134"
						 data-width="['auto']"
						 data-height="['auto']"
						 data-transform_idle="o:1;"
						 data-transform_in="y:50px;opacity:0;s:1000;e:Power2.easeInOut;"
						 data-transform_out="opacity:0;s:300;s:300;"
						 data-start="760"
						 data-splitin="none"
						 data-splitout="none"
						 data-responsive_offset="on"><a href="#" class="button accent icon-right">About Us</a></div>

					<div class="tp-caption tp-resizeme hidden-sm hidden-xs"
						 data-x="200" data-hoffset="8"
						 data-y="center" data-voffset="134"
						 data-width="['auto']"
						 data-height="['auto']"
						 data-transform_idle="o:1;"
						 data-transform_in="y:50px;opacity:0;s:1000;e:Power2.easeInOut;"
						 data-transform_out="opacity:0;s:300;s:300;"
						 data-start="500"
						 data-splitin="none"
						 data-splitout="none"
						 data-responsive_offset="on"><a href="#" class="button default icon-right">Our Services</a>
					</div>

				</li>

			</ul>
		</div>

	</div> <!-- /.rev_slider_wrapper -->

	<div class="grey-section section-block">
		<div class="section-bg" style="background-image: url('assets/images/s-icons-bg.jpg');"></div>
		<div class="container">
			<!-- Service Title Only -->
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="service-title-only">
						<a href="service-single.html">Engineer</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="service-title-only">
						<a href="service-single.html">Construction</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="service-title-only">
						<a href="service-single.html">Building</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="service-title-only">
						<a href="service-single.html">Isolation</a>
					</div>
				</div>
			</div> <!-- /.row -->
			<div class="row">
				<div class="mid-space"></div>
				<div class="col-lg-4">
					<div class="service-icon wow flipInX" data-wow-duration="0.7s" data-wow-delay="0.2s">
						<div class="icon-box">
							<i class="icon-direction"></i>
						</div>
						<div class="service-content">
							<h4>Construction Strategy</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam impedit non sequi
								nostrum porro molestias.</p>
						</div>
					</div>
					<div class="small-space"></div>
				</div> <!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<div class="service-icon wow flipInX" data-wow-duration="0.7s" data-wow-delay="0.6s">
						<div class="icon-box">
							<i class="icon-wallet"></i>
						</div>
						<div class="service-content">
							<h4>Company Analysis</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam impedit non sequi
								nostrum porro molestias.</p>
						</div>
					</div>
					<div class="small-space"></div>
				</div> <!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<div class="service-icon wow flipInX" data-wow-duration="0.7s" data-wow-delay="1s">
						<div class="icon-box">
							<i class="icon-organization"></i>
						</div>
						<div class="service-content">
							<h4>Team Organization</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam impedit non sequi
								nostrum porro molestias.</p>
						</div>
					</div>
					<div class="small-space"></div>
				</div> <!-- /.col-lg-4 -->
			</div> <!-- /.row -->
			<div class="mid-space"></div>
		</div> <!-- /.container -->
	</div> <!-- /.grey-section -->

	<div class="white-section section-block">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8 text-center section-title-wrapper wow fadeIn"
					 data-wow-duration="0.7s" data-wow-delay="0.4s">
					<h2 class="section-title style-1">Our Dedicated Team</h2>
					<p>Nunc in ornare urna. Pellentesque habitant morbi tristique senectus et netus et malesuada
						fames ac<br>turpis egestas. Curabitur rhoncus volutpat eros, vestibulum dapibus.</p>
				</div>
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<article class="team-entry wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.2s">
						<div class="team-thumb">
							<img width="500" height="500" src="assets/images/team-1.jpg" alt="">
						</div>
						<div class="team-details">
							<h4>John Holand</h4>
							<p class="small">Best Constructor</p>
						</div>
					</article>
				</div> <!-- /.col-lg-3 -->
				<div class="col-lg-3 col-sm-6">
					<article class="team-entry wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.5s">
						<div class="team-thumb">
							<img width="500" height="500" src="assets/images/team-2.jpg" alt="">
						</div>
						<div class="team-details">
							<h4>Betty Dixon</h4>
							<p class="small">Best Constructor</p>
						</div>
					</article>
				</div> <!-- /.col-lg-3 -->
				<div class="col-lg-3 col-sm-6">
					<article class="team-entry wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.8s">
						<div class="team-thumb">
							<img width="500" height="500" src="assets/images/team-3.jpg" alt="">
						</div>
						<div class="team-details">
							<h4>Miguel Antunez</h4>
							<p class="small">Best Constructor</p>
						</div>
					</article>
				</div> <!-- /.col-lg-3 -->
				<div class="col-lg-3 col-sm-6">
					<article class="team-entry wow fadeIn" data-wow-duration="0.7s" data-wow-delay="1.1s">
						<div class="team-thumb">
							<img width="500" height="500" src="assets/images/team-4.jpg" alt="">
						</div>
						<div class="team-details">
							<h4>Betty Arnold</h4>
							<p class="small">Best Constructor</p>
						</div>
					</article>
				</div> <!-- /.col-lg-3 -->
			</div> <!-- /.row -->
			<div class="small-space"></div>
		</div> <!-- /.container -->
	</div> <!-- /.white-section -->

	<div class="dark-section section-block">
		<div class="section-bg" style="background-image: url('assets/images/projects.jpg');"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 section-title-wrapper wow fadeIn" data-wow-duration="0.7s"
					 data-wow-delay="0.4s">
					<h2 class="section-title style-1">Latest Projects</h2>
					<p>Nunc in ornare urna. Pellentesque habitant morbi tristique<br> senectus et netus et malesuada
						fames acturpis egestas vestibulum dapibus.</p>
				</div>
			</div> <!-- /.row -->
		</div> <!-- /.container -->
		<div class="projects-full-holder clearfix wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.5s">
			<article class="project-entry-1">
				<div class="image-holder">
					<a href="project-single.html">
						<img width="800" height="500" src="assets/images/project-1.jpg" alt="">
						<h2 class="project-title">Opera House</h2>
						<span class="project-overlay"></span>
						<span class="overlay-triangle"></span>
					</a>
				</div>
			</article> <!-- /.project-entry-1 -->
			<article class="project-entry-1">
				<div class="image-holder">
					<a href="project-single.html">
						<img width="800" height="500" src="assets/images/project-2.jpg" alt="">
						<h2 class="project-title">Modern Architecture</h2>
						<span class="project-overlay"></span>
						<span class="overlay-triangle"></span>
					</a>
				</div>
			</article> <!-- /.project-entry-1 -->
			<article class="project-entry-1">
				<div class="image-holder">
					<a href="project-single.html">
						<img width="800" height="500" src="assets/images/project-3.jpg" alt="">
						<h2 class="project-title">Best Constructed</h2>
						<span class="project-overlay"></span>
						<span class="overlay-triangle"></span>
					</a>
				</div>
			</article> <!-- /.project-entry-1 -->
			<article class="project-entry-1">
				<div class="image-holder">
					<a href="project-single.html">
						<img width="800" height="500" src="assets/images/project-4.jpg" alt="">
						<h2 class="project-title">Skyscraper</h2>
						<span class="project-overlay"></span>
						<span class="overlay-triangle"></span>
					</a>
				</div>
			</article> <!-- /.project-entry-1 -->
		</div> <!-- /.projects-full-holder -->
	</div> <!-- /.dark-section -->

	<div class="call-to-action light">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="cta-inner clearfix">
						<div class="cta-content">
							<h3>Archtech - Construction Theme</h3>
							<span>Consectetur impedit iure minima perspiciatis adipisci.</span>
						</div>
						<div class="cta-button">
							<a href="contact.html" class="button default">Get a Quote</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="shadow-gradient"></div>
	</div>

	<div class="white-section section-block">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8 text-center section-title-wrapper">
					<h2 class="section-title style-1">Recent News</h2>
					<p>Nunc in ornare urna. Pellentesque habitant morbi tristique senectus et netus et malesuada
						fames ac<br>turpis egestas. Curabitur rhoncus volutpat eros, vestibulum dapibus.</p>
				</div>
			</div> <!-- /.row -->
			<div class="row">
				<div class="blog-masonry wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.6s">
					<div class="col-md-4 col-xs-12 post-masonry">
						<article class="grid post-entry">
							<div class="post-image">
								<a href="blog-single.html">
									<img width="600" height="430" src="assets/images/blog-1.jpg" alt="">
									<span class="filter-grayscale"></span>
								</a>
							</div>
							<div class="post-content">
								<h4 class="post-title"><a href="blog-single.html">Life After the Handover –
										Interview with Hans Kristian</a></h4>
								<div class="post-meta">
									<span><i class="icon-user"></i> By <a href="blog-single.html">Esmet</a></span>
									<span><a href="blog-single.html"><i
													class="icon-speech"></i> 3 Comments</a></span>
								</div>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit aspernatur...
								</p>
								<a href="blog-single.html">Continue Reading</a>
							</div>
						</article>
					</div> <!-- /.col-md-4 -->
					<div class="col-md-4 col-xs-12 post-masonry">
						<article class="grid post-entry">
							<div class="post-image">
								<a href="blog-single.html">
									<img width="600" height="430" src="assets/images/blog-2.jpg" alt="">
									<span class="filter-grayscale"></span>
								</a>
							</div>
							<div class="post-content">
								<h4 class="post-title"><a href="blog-single.html">Top 14 Most Common Scheduling
										Mistakes By Contractors</a></h4>
								<div class="post-meta">
									<span><i class="icon-user"></i> By <a href="blog-single.html">Esmet</a></span>
									<span><a href="blog-single.html"><i
													class="icon-speech"></i> 3 Comments</a></span>
								</div>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit aspernatur...
								</p>
								<a href="blog-single.html">Continue Reading</a>
							</div>
						</article>
					</div> <!-- /.col-md-4 -->
					<div class="col-md-4 col-xs-12 post-masonry">
						<article class="grid post-entry">
							<div class="post-image">
								<a href="blog-single.html">
									<img width="600" height="430" src="assets/images/blog-3.jpg" alt="">
									<span class="filter-grayscale"></span>
								</a>
							</div>
							<div class="post-content">
								<h4 class="post-title"><a href="blog-single.html">Cut Emissions, Save Costs and Win
										Business</a></h4>
								<div class="post-meta">
									<span><i class="icon-user"></i> By <a href="blog-single.html">Esmet</a></span>
									<span><a href="blog-single.html"><i
													class="icon-speech"></i> 3 Comments</a></span>
								</div>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit aspernatur...
								</p>
								<a href="blog-single.html">Continue Reading</a>
							</div>
						</article>
					</div> <!-- /.col-md-4 -->
				</div>
			</div> <!-- /.row -->
			<div class="small-space"></div>
		</div> <!-- /.container -->
	</div> <!-- /.white-section -->

{% endblock %}