{% extends '::base.html.twig' %}

{% block content %}
    <div class="page-title-wrapper">
        <div class="page-title-bg" style="background-image: url('{{ asset('assets/images/services-bg.jpg') }}');"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-title-inner">
                        <div class="page-title-content">
                            <h2>Продажа</h2>
                            <p>В эту строчку можно будет вставить дополнительное описание либо информацию</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.page-titel-wrapper -->

    <section class="services-listing page-content">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <article class="image-service wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.2s">
                                <div class="thumb">
                                    <a href="service-single.html">
                                        <img width="700" height="450" src="assets/images/service-1.jpg" alt="">
                                        <span class="overlay">
														<i class="icon-eye"></i>
													</span>
                                    </a>
                                </div>
                                <div class="service-content">
                                    <h3><a href="service-single.html">Construction</a></h3>
                                    <p>Sed at felis diam. In fermentum pulvinar tortor, vel gravida ligula accumsan sit amet. Proin aliquam odio non dolor rhoncus, vitae iaculis leo consectetur.</p>
                                </div>
                            </article>
                        </div> <!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <article class="image-service wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.5s">
                                <div class="thumb">
                                    <a href="service-single.html">
                                        <img width="700" height="450" src="assets/images/service-2.jpg" alt="">
                                        <span class="overlay">
														<i class="icon-eye"></i>
													</span>
                                    </a>
                                </div>
                                <div class="service-content">
                                    <h3><a href="service-single.html">General Contracting</a></h3>
                                    <p>Sed at felis diam. In fermentum pulvinar tortor, vel gravida ligula accumsan sit amet. Proin aliquam odio non dolor rhoncus, vitae iaculis leo consectetur.</p>
                                </div>
                            </article>
                        </div> <!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <article class="image-service wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.8s">
                                <div class="thumb">
                                    <a href="service-single.html">
                                        <img width="700" height="450" src="assets/images/service-3.jpg" alt="">
                                        <span class="overlay">
														<i class="icon-eye"></i>
													</span>
                                    </a>
                                </div>
                                <div class="service-content">
                                    <h3><a href="service-single.html">Electric Welding</a></h3>
                                    <p>Sed at felis diam. In fermentum pulvinar tortor, vel gravida ligula accumsan sit amet. Proin aliquam odio non dolor rhoncus, vitae iaculis leo consectetur.</p>
                                </div>
                            </article>
                        </div> <!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <article class="image-service wow fadeIn" data-wow-duration="0.7s" data-wow-delay="1.1s">
                                <div class="thumb">
                                    <a href="service-single.html">
                                        <img width="700" height="450" src="assets/images/service-4.jpg" alt="">
                                        <span class="overlay">
														<i class="icon-eye"></i>
													</span>
                                    </a>
                                </div>
                                <div class="service-content">
                                    <h3><a href="service-single.html">Isolation</a></h3>
                                    <p>Sed at felis diam. In fermentum pulvinar tortor, vel gravida ligula accumsan sit amet. Proin aliquam odio non dolor rhoncus, vitae iaculis leo consectetur.</p>
                                </div>
                            </article>
                        </div> <!-- /.col-sm-6 -->
                    </div> <!-- /.row -->
                </div> <!-- /.col-md-9 -->

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section> <!-- /.service-listing -->
{% endblock %}