<div class="menu_fixed_style_three">

	<header class="container">
		<div class="row">
			<div class="left_side logo">
				<a href="index.html"><img src="images/skin/logo.png" alt="Logo" id="logo" class="img-responsive"></a>
			</div> <!-- End .left_side -->
			<div class="right_side">
				<div class="top_header">
					<div class="top_header_left">
						<a href="#" class="tran3s"><i class="fa fa-phone" style="padding-right:4px;"></i>1-880-002-0088</a>
						<a href="mailto:Realestate@Steelthemes.com" class="mail tran3s"><i class="fa fa-envelope-o"></i> Realestate@Steelthemes.com</a>
					</div> <!-- End .top_header_left -->

					<div class="top_header_right">
						<a href="login.html" class="login"><i class="fa fa-download fa-rotate-270"></i> Login / Register</a>
						<div class="dropdown">
							<button class="btn-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
								$ &nbsp;Dollar
								<i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li>₹ &nbsp;Rupi</li>
								<li>€ &nbsp;EURO</li>
								<li>¥ &nbsp;YEN</li>
								<li>$ &nbsp;Dollar</li>
							</ul>
						</div> <!-- End .dropdown -->

						<div id="polyglotLanguageSwitcher">
							<form action="#">
								<select id="polyglot-language-options">
									<option id="en" value="en" selected>English</option>
									<option id="fr" value="fr">French</option>
									<option id="de" value="de">German</option>
									<option id="it" value="it">Italian</option>
									<option id="es" value="es">Spanish</option>
								</select>
							</form>
						</div> <!-- End #polyglotLanguageSwitcher -->
					</div> <!-- End .top_header_right -->
					<div class="clear_fix"></div>
				</div> <!-- End .top_header -->

				<div class="bottom_header">
					<ul class="social_icon">
						<li class="border_round tran3s tooltip" title="Facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="border_round tran3s tooltip" title="Twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="border_round tran3s tooltip" title="Google Plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul>

					<!-- ___________________________ Menu ______________________ -->

					<nav class="navbar navbar-default" id="menu">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div> <!-- End .navbar-header -->
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="tran3sL sub-menu-holder dropdown"><a href="index.html">Home</a>
									<ul class="sub-menu">
										<li><a href="index-5.html">Home 01 - Property Slider</a></li>
										<li><a href="index-2.html">Home 02 - Google Map</a></li>
										<li><a href="index.html">Home 03 - Revolution Slider</a></li>
										<li><a href="index-4.html">Home 04 - Tranparent Header</a></li>
										<li><a href="index-3.html">Home 05 - Simple Header</a></li>
									</ul>
								</li>
								<li class="tran3sL sub-menu-holder dropdown"><a href="#">Properties</a>
									<ul class="sub-menu">
										<li><a href="property-listing-without-sidebar.html">Property Listing Fullwidth</a></li>
										<li><a href="property-listing-with-sidebar.html">Property Listing With Sidebar</a></li>
										<li><a href="property-details.html">Property Detail Page</a></li>
										<li class="dropdown"><a href="#">Property Type <i class="fa fa-angle-right"></i></a>
											<ul class="sub-sub-menu">
												<li><a href="property-type-building-area.html">Property Type - Building Area</a></li>
												<li><a href="property-type-apartment.html">Property Type - Apartment</a></li>
												<li><a href="property-type-house.html">Property Type - House</a></li>
												<li><a href="property-type-condo.html">Property Type - Condo</a></li>
												<li><a href="property-type-villa.html">Property Type - Villa</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="tran3sL sub-menu-holder dropdown"><a href="#">Agents & Agencies</a>
									<ul class="sub-menu">
										<li><a href="agent-listing-sidebar.html">Agents Listing With Sidebar</a></li>
										<li><a href="agent-listing-without-sidebar.html">Agents listing Without Sidebar</a></li>
										<li><a href="agent-details.html">Agent Detail Page</a></li>
										<li><a href="agency-listing.html">Agency Listing</a></li>
										<li><a href="agency-details.html">Agency Detail Page</a></li>
									</ul>
								</li>
								<li class="tran3sL sub-menu-holder dropdown"><a href="#">Pages</a>
									<ul class="sub-menu">
										<li><a href="about-us.html">About Us</a></li>
										<li><a href="pricing-plans.html">Pricing Plans</a></li>
										<li><a href="testimonial.html">Testimonials</a></li>
										<li><a href="faq.html">FAQ’s</a></li>
										<li><a href="home-loan.html">Home Loan Calculator</a></li>
										<li><a href="login.html">Login / Register</a></li>
										<li><a href="vertical-map.html">vertical Map</a></li>
									</ul>
								</li>
								<li class="tran3sL sub-menu-holder dropdown"><a href="#">News</a>
									<ul class="sub-menu">
										<li><a href="blog-grid.html">Blog Grid View</a></li>
										<li><a href="blog-list-view.html">Blog list View</a></li>
										<li><a href="blog-large.html">Blog Large Image</a></li>
										<li><a href="blog-without-sidebar.html">Blog Without Sidebar</a></li>
										<li><a href="blog-details-fullwidth.html">Blog Detail Fullwidth</a></li>
										<li><a href="blog-details-sidebar.html">Blog Detail With Sidebar</a></li>
									</ul>
								</li>
								<li class="tran3sL sub-menu-holder dropdown"><a href="#">Gallery</a>
									<ul class="sub-menu space_fix">
										<li class="dropdown"><a href="#">Gallery Grid View <i class="fa fa-angle-right"></i></a>
											<ul class="sub-sub-menu">
												<li><a href="gallery-grid-2columns.html">Gallery Grid 2 Columns</a></li>
												<li><a href="gallery-grid-3columns.html">Gallery Grid 3 Columns</a></li>
												<li><a href="gallery-grid-4columns.html">Gallery Grid 4 Columns</a></li>
											</ul>
										</li>
										<li class="dropdown"><a href="#">Gallery With Text <i class="fa fa-angle-right"></i></a>
											<ul class="sub-sub-menu">
												<li><a href="gallery-2columns-with-text.html">Gallery Text 2 Columns</a></li>
												<li><a href="gallery-3columns-with-text.html">Gallery Text 3 Columns</a></li>
												<li><a href="gallery-4columns-with-text.html">Gallery Text 4 Columns</a></li>
											</ul>
										</li>
										<li class="dropdown"><a href="#">Gallery Fullwidth <i class="fa fa-angle-right"></i></a>
											<ul class="sub-sub-menu">
												<li><a href="gallery-fullwidth-2columns.html">Gallery Fullwidth 2 Columns</a></li>
												<li><a href="gallery-fullwidth-3columns.html">Gallery Fullwidth 3 Columns</a></li>
												<li><a href="gallery-fullwidth-4columns.html">Gallery Fullwidth 4 Columns</a></li>
											</ul>
										</li>
										<li><a href="gallery-masonary.html">Gallery Manasory Style</a></li>
										<li><a href="gallery-single.html">Gallery Single Page</a></li>
									</ul>
								</li>
								<li class="tran3sL"><a href="contact.html">Contact</a></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</nav> <!-- End .navbar -->

					<!-- _________________________ End Menu ______________________ -->

				</div> <!-- End .bottom_header -->
			</div> <!-- End .right_side -->
		</div> <!-- End .row -->
	</header>
</div>