<footer>

	<div class="main_footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="about_estate">
						<a href="index.html"><img src="images/skin/f-logo.png" alt="logo" id="fLogo"></a>
						<p>As a property developers every project  we offer quality Properties and Services for our trustable customers. <span></span>
							If you are interested in real estate do not wait and BUY IT NOW!</p>

						<ul class="icon_footer">
							<li class="border_round tran3s tooltip" title="Facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li class="border_round tran3s tooltip" title="Twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li class="border_round tran3s tooltip" title="Google Plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li class="border_round tran3s tooltip" title="Linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li class="border_round tran3s tooltip" title="Vimeo"><a href="#"><i class="fa fa-vimeo"></i></a></li>
						</ul> <!-- End .icon_header -->

					</div> <!-- End .about_estate -->
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="useful_link">
						<div class="footer_title">
							<h4>Usefull Links</h4>
						</div>
						<ul>
							<li><a href="property-listing-without-sidebar.html" class="tran3s"><i class="fa fa-angle-right"></i> Properties</a></li>
							<li><a href="about-us.html" class="tran3s"><i class="fa fa-angle-right"></i> About Us</a></li>
							<li><a href="property-listing-with-sidebar.html" class="tran3s"><i class="fa fa-angle-right"></i> Find Homes</a></li>
							<li><a href="agent-listing-without-sidebar.html" class="tran3s"><i class="fa fa-angle-right"></i> Popular Agents</a></li>
							<li><a href="blog-without-sidebar.html" class="tran3s"><i class="fa fa-angle-right"></i> News</a></li>
							<li><a href="contact.html" class="tran3s"><i class="fa fa-angle-right"></i> Conatct Us</a></li>
						</ul>

						<ul>
							<li><a href="#" class="tran3s"><i class="fa fa-angle-right"></i> Add Listing</a></li>
							<li><a href="#" class="tran3s"><i class="fa fa-angle-right"></i> Become Agent</a></li>
							<li><a href="pricing-plans.html" class="tran3s"><i class="fa fa-angle-right"></i> Pricing</a></li>
							<li><a href="#" class="tran3s"><i class="fa fa-angle-right"></i> Features</a></li>
							<li><a href="login.html" class="tran3s"><i class="fa fa-angle-right"></i> Login / Register</a></li>
						</ul>
					</div> <!-- End .useful_link -->
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="featured_properties_footer">
						<div class="footer_title">
							<h4>Featured Properties</h4>
						</div>

						<div class="history">
							<div class="item">
								<div class="image_holder">
									<img src="images/home/22.jpg" alt="images">
								</div>
								<div class="text">
									<a href="property-details.html"><h6>High Rise Building</h6></a>
									<span><i class="fa fa-map-marker"></i> California</span>
									<h4>$ 25,500</h4>
								</div> <!-- End .text -->
							</div> <!-- End .item -->

							<div class="item">
								<div class="image_holder">
									<img src="images/home/23.jpg" alt="images">
								</div>
								<div class="text">
									<a href="property-details.html"><h6>Low Rise Building</h6></a>
									<span><i class="fa fa-map-marker"></i> Sanfransisco</span>
									<h4>$ 35,500</h4>
								</div> <!-- End .text -->
							</div> <!-- End .item -->

							<div class="item">
								<div class="image_holder">
									<img src="images/home/24.jpg" alt="images">
								</div>
								<div class="text">
									<a href="property-details.html"><h6>Jango Beach House</h6></a>
									<span><i class="fa fa-map-marker"></i> Coloroda</span>
									<h4>$ 45,500</h4>
								</div> <!-- End .text -->
							</div> <!-- End .item -->
						</div> <!-- End .history -->
					</div> <!-- End .featured_properties_footer -->
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="contact_info">
						<div class="footer_title">
							<h4>Contact Info</h4>
						</div>

						<ul>
							<li> Address: PO Box 859, La Corner St, Sanfransisco, CA 52698</li>
							<li><a href="tel:98941-84-604" class="tran3s">Phone: 98941-84-604</a></li>
							<li><a href="mailto:Support@Steelthemes.com" class="tran3s">Email: Support@Steelthemes.com</a></li>
							<li><a href="#" class="tran3s">Web: WWW.Realestate.com</a></li>
							<li>Monday - Sunday 9.00 - 18.00 <br>
								Saturday - Sunday Holiday</li>
						</ul>

					</div> <!-- End .contact_info -->
				</div>
			</div> <!-- End .row -->
		</div> <!-- End .container -->
	</div> <!-- End .main_footer -->

	<div class="bottom_footer">
		<div class="container">
			<div class="text">
				<p>Copyright &copy; 2015 Real Estate Theme Designed by | <a href="http://themeforest.net/user/steelthemes/portfolio" class="tran3s" target="_blank">SteelThemes</a> Developed by | <a href="http://themeforest.net/user/template_path/portfolio" class="tran3s" target="_blank">Template Path</a> </p>
			</div> <!-- End .text -->

			<div class="footer_nav">
				<ul>
					<li><a href="index.html" class="tran3s">Home</a></li>
					<li><a href="property-listing-without-sidebar.html" class="tran3s">Properties</a></li>
					<li><a href="agent-listing-without-sidebar.html" class="tran3s">Agents</a></li>
					<li><a href="#" class="tran3s">Buy This Theme</a></li>
				</ul>
			</div> <!-- End .footer_nav -->
		</div>
	</div> <!-- End .bottom_footer -->
</footer>