<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 side_bar">
	<div class="our_agents">
		<!-- Main_title2__________ -->
		<div class="main_title2">
			<h3>Our Agents</h3>
		</div>
		<!-- End Main_title2______ -->

		<div class="agents_wrapper">
			<!-- ____________ agent 1 ______________ -->
			<div class="agents_single_content">
				<div class="img_holder border_round">
					<img src="images/home/a1.jpg" alt="agent" class="border_round">
				</div> <!-- End .img_holder -->

				<div class="agents_details">
					<h6>James Rock</h6>
					<a href="mailto:James@domain.com" class="tran3s"><i class="fa fa-envelope-o" style="padding-right:4px;"></i> James@domain.com</a>
					<a href="tel:84563-58-962" class="tran3s"><i class="fa fa-phone" style="padding-right:7px;"></i> 84563-58-962</a>
				</div> <!-- End .agents_details -->
			</div> <!-- End .agents_single_content -->

			<!-- ____________ agent 2 ______________ -->
			<div class="agents_single_content">
				<div class="img_holder border_round">
					<img src="images/home/a2.jpg" alt="agent" class="border_round">
				</div> <!-- End .img_holder -->

				<div class="agents_details">
					<h6>Stone Lawrence</h6>
					<a href="mailto:Lawrence@domain.com" class="tran3s"><i class="fa fa-envelope-o" style="padding-right:4px;"></i> Lawrence@domain.com</a>
					<a href="tel:95123-56-951" class="tran3s"><i class="fa fa-phone" style="padding-right:7px;"></i> 95123-56-951</a>
				</div> <!-- End .agents_details -->
			</div> <!-- End .agents_single_content -->

			<!-- ____________ agent 3 ______________ -->
			<div class="agents_single_content">
				<div class="img_holder border_round">
					<img src="images/home/a4.jpg" alt="agent" class="border_round">
				</div> <!-- End .img_holder -->

				<div class="agents_details">
					<h6>Mercy Van Desosa</h6>
					<a href="mailto:Mercy@domain.com" class="tran3s"><i class="fa fa-envelope-o" style="padding-right:4px;"></i> Mercy@domain.com</a>
					<a href="tel:78569-32-456" class="tran3s"><i class="fa fa-phone" style="padding-right:7px;"></i> 78569-32-456</a>
				</div> <!-- End .agents_details -->
			</div> <!-- End .agents_single_content -->

			<!-- ____________ agent 3 ______________ -->
			<div class="agents_single_content">
				<div class="img_holder border_round">
					<img src="images/home/a3.jpg" alt="agent" class="border_round">
				</div> <!-- End .img_holder -->

				<div class="agents_details">
					<h6>David Fernanado</h6>
					<a href="mailto:David@domain.com" class="tran3s"><i class="fa fa-envelope-o" style="padding-right:4px;"></i> David@domain.com</a>
					<a href="tel:78569-32-456" class="tran3s"><i class="fa fa-phone" style="padding-right:7px;"></i> 78569-32-456</a>
				</div> <!-- End .agents_details -->
			</div> <!-- End .agents_single_content -->
		</div> <!-- End .agents_wrapper -->
	</div> <!-- End .our_agents -->

	<div class="sidebar_properties">
		<!-- Main_title2__________ -->
		<div class="main_title2">
			<h3>Featured Properties</h3>
		</div>
		<!-- End Main_title2______ -->

		<div class="slider_box">
			<div id="myCarousel11" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="img_holder">
							<a href="images/home3/15.jpg" class="fancybox">
								<img src="images/home3/15.jpg" alt="images" class="img-responsive">
							</a>
						</div> <!-- End .img_holder -->
						<div class="text">
							<h6>MetLife Apartment</h6>
							<h5>$ 14,500 <span>/ Month</span></h5>
							<p>East View, 3 Beds, 3 Baths, 1600 Sq Ft Area. </p>
							<a href="#" class="tran3s">View Listing</a>
						</div> <!-- End .text -->
					</div>

					<div class="item">
						<div class="img_holder">
							<a href="images/home3/15.jpg" class="fancybox">
								<img src="images/home3/15.jpg" alt="images" class="img-responsive">
							</a>
						</div> <!-- End .img_holder -->
						<div class="text">
							<h6>MetLife Apartment</h6>
							<h5>$ 14,500 <span>/ Month</span></h5>
							<p>East View, 3 Beds, 3 Baths, 1600 Sq Ft Area. </p>
							<a href="#" class="tran3s">View Listing</a>
						</div> <!-- End .text -->
					</div>

					<div class="item">
						<div class="img_holder">
							<a href="images/home3/15.jpg" class="fancybox">
								<img src="images/home3/15.jpg" alt="images" class="img-responsive">
							</a>
						</div> <!-- End .img_holder -->
						<div class="text">
							<h6>MetLife Apartment</h6>
							<h5>$ 14,500 <span>/ Month</span></h5>
							<p>East View, 3 Beds, 3 Baths, 1600 Sq Ft Area. </p>
							<a href="#" class="tran3s">View Listing</a>
						</div> <!-- End .text -->
					</div>
				</div> <!-- End .carousel-inner -->
			</div>
			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel11" role="button" data-slide="prev">
				<i class="fa fa-angle-left"></i>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel11" role="button" data-slide="next">
				<i class="fa fa-angle-right"></i>
				<span class="sr-only">Next</span>
			</a>
		</div> <!-- End .slider_box -->
	</div> <!-- End .sidebar_properties -->


	<div class="reduced_properties">
		<!-- Main_title2__________ -->
		<div class="main_title2">
			<h3>Reduced Properties</h3>
		</div>
		<!-- End Main_title2______ -->

		<div class="item_wrapper">
			<div class="itme">
				<div class="img_holder">
					<img src="images/home3/16.jpg" alt="images">
				</div> <!-- End .img_holder -->
				<div class="text">
					<a href="property-details.html">
						<h6>Jungle golf Villas</h6>
						<span><i class="fa fa-map-marker"></i> California</span>
						<h5>$ 14,500 / Month</h5>
					</a>
				</div> <!-- End .text -->
			</div> <!-- End .itme -->

			<div class="itme">
				<div class="img_holder">
					<img src="images/home3/17.jpg" alt="images">
				</div> <!-- End .img_holder -->
				<div class="text">
					<a href="property-details.html">
						<h6>Office Apartment</h6>
						<span><i class="fa fa-map-marker"></i> Sanfransisco</span>
						<h5>$ 18,000 / Month</h5>
					</a>
				</div> <!-- End .text -->
			</div> <!-- End .itme -->

			<div class="itme">
				<div class="img_holder">
					<img src="images/home3/18.jpg" alt="images">
				</div> <!-- End .img_holder -->
				<div class="text">
					<a href="property-details.html">
						<h6>Rainbow Building</h6>
						<span><i class="fa fa-map-marker"></i> California</span>
						<h5>$ 15,000 / Month</h5>
					</a>
				</div> <!-- End .text -->
			</div> <!-- End .itme -->

			<div class="itme">
				<div class="img_holder">
					<img src="images/home3/19.jpg" alt="images">
				</div> <!-- End .img_holder -->
				<div class="text">
					<a href="property-details.html">
						<h6>Green Acress House</h6>
						<span><i class="fa fa-map-marker"></i> Statan Island</span>
						<h5>$ 20,500 / Month</h5>
					</a>
				</div> <!-- End .text -->
			</div> <!-- End .itme -->
		</div> <!-- End .item_wrapper -->
	</div> <!-- End .reduced_properties -->

</div> <!-- End .aside_bar -->
