<section class="newsletter">
	<div class="overlay">
		<div class="container">
			<h2>Subscribe to Our Newsletter</h2>
			<p>Subscribe to Our Newsletter to Get Our Latest News About Real Estate, New <br>Projects, Properties, Agents and ect...</p>
			<form action="#">
				<div class="input_group">
					<input type="text" placeholder="Enetr Your Email Address">
					<input type="email" placeholder="Enetr Your Email Address">
					<button>Subscribe</button>
				</div> <!-- End .input_group -->
			</form>
		</div> <!-- End .container -->
	</div> <!-- End .overlay -->
</section> <!-- End .newsletter -->
