<section class="home3_page_content container">
	<div class="row">

		{% block index_rent_propperties %}
			{% include 'odinkg/front/elements/index_rent_propperties.html.twig' %}
		{% endblock %}

		{% block index_side_bar %}
			{% include 'odinkg/front/elements/index_side_bar.html.twig' %}
		{% endblock %}

	</div>
</section>