<section class="featured_partners container">

	<div class="main-title-center">
		<h2>Our Featured Partners</h2>
	</div> <!-- End .main-title-center -->
	<div class="partner_images">
		<ul class="uper_iamges">
			<li class="tran3s"><img src="images/home/p1.jpg" alt="images"></li>
			<li class="tran3s"><img src="images/home/p2.jpg" alt="images"></li>
			<li class="tran3s"><img src="images/home/p3.jpg" alt="images"></li>
			<li class="tran3s"><img src="images/home/p4.jpg" alt="images"></li>
		</ul>

		<ul class="lower_iamges">
			<li class="tran3s"><img src="images/home/p5.jpg" alt="images"></li>
			<li class="tran3s"><img src="images/home/p6.jpg" alt="images"></li>
			<li class="tran3s"><img src="images/home/p7.jpg" alt="images"></li>
			<li class="tran3s"><img src="images/home/p8.jpg" alt="images"></li>
		</ul>

	</div>
</section> <!-- End .featured_partners -->