<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
	<!-- _______________________________________ Properties For Rent ______________________________________ -->

	<div class="rent_properties properties_item">
		<!-- Main_title__________ -->
		<div class="main_title">
			<h2>Properties For Rent </h2>
			<div class="dropdown">
				<button class="btn-dropdown dropdown-toggle" type="button" id="dropdownMenu99" data-toggle="dropdown" aria-haspopup="true">
					California
					<i class="fa fa-sort-desc"></i>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu99">
					<li>Sanfransico</li>
					<li>Sandspoint</li>
					<li>Los Angeles</li>
					<li>California</li>
				</ul>
			</div> <!-- End .dropdown -->
		</div>
		<!-- End Main_title______ -->
		<div class="row">
			<!-- ________________________ Item 1 ____________________ -->
			<div class="col-lg-4 col-md-6 col-sm-6 single_properties space_fix">
				<div class="properties_name">
					<div class="title">
						<a href="property-details.html">
							<h6>Downtown Penthouse</h6>
							<h4>$ 16,850 <span>/ Month</span></h4>
						</a>
					</div> <!-- End .title -->
					<div class="author_img border_round">
						<img src="images/home/a1.jpg" alt="images" class="border_round">
					</div> <!-- End .author_img -->
				</div> <!-- End .properties_name -->

				<div class="image_holder">
					<img src="images/home3/6.jpg" alt="image" class="img-responsive">
					<span class="property_tag tran3s">Featured</span>
				</div> <!-- End .image_holder -->

				<ul class="properties_history">
					<li><i class="fa fa-bed" style="padding-right:4px"></i> Bedroom <span class="tooltip" title="2 Bedrooms">2 Bedrooms</span></li>
					<li><i class="fa fa-wheelchair" style="padding-right:7px"></i> Bathroom <span class="tooltip" title="2 Bathrooms">2 Bathrooms</span></li>
					<li><i class="fa fa-compress" style="padding-right:8px"></i> Total Area <span class="tooltip" title="1560 Sq.ft">1560 Sq.ft</span></li>
				</ul> <!-- End .properties_history -->
			</div>
			<!-- ________________________ Item 2 ____________________ -->
			<div class="col-lg-4 col-md-6 col-sm-6 single_properties space_fix">
				<div class="properties_name">
					<div class="title">
						<a href="property-details.html">
							<h6>High Rise building</h6>
							<h4>$ 22,850</h4>
						</a>
					</div> <!-- End .title -->
					<div class="author_img border_round">
						<img src="images/home/a2.jpg" alt="images" class="border_round">
					</div> <!-- End .author_img -->
				</div> <!-- End .properties_name -->

				<div class="image_holder">
					<img src="images/home3/7.jpg" alt="image" class="img-responsive">
					<span class="property_tag tran3s">Top</span>
				</div> <!-- End .image_holder -->

				<ul class="properties_history">
					<li><i class="fa fa-bed" style="padding-right:4px"></i> Bedroom <span class="tooltip" title="2 Bedrooms">2 Bedrooms</span></li>
					<li><i class="fa fa-wheelchair" style="padding-right:7px"></i> Bathroom <span class="tooltip" title="3 Bathrooms">3 Bathrooms</span></li>
					<li><i class="fa fa-compress" style="padding-right:8px"></i> Total Area <span class="tooltip" title="1240 Sq.ft">1240 Sq.ft</span></li>
				</ul> <!-- End .properties_history -->
			</div>

			<!-- ________________________ Item 3 ____________________ -->
			<div class="col-lg-4 col-md-6 col-sm-6 single_properties space_fix">
				<div class="properties_name">
					<div class="title">
						<a href="property-details.html">
							<h6>Low Rise building</h6>
							<h4>$ 12,500 <span>/ month</span></h4>
						</a>
					</div> <!-- End .title -->
					<div class="author_img border_round">
						<img src="images/home/a3.jpg" alt="images" class="border_round">
					</div> <!-- End .author_img -->
				</div> <!-- End .properties_name -->

				<div class="image_holder">
					<img src="images/home3/8.jpg" alt="image" class="img-responsive">
					<span class="property_tag tran3s">Featured</span>
				</div> <!-- End .image_holder -->

				<ul class="properties_history">
					<li><i class="fa fa-bed" style="padding-right:4px"></i> Bedroom <span class="tooltip" title="2 Bedrooms">2 Bedrooms</span></li>
					<li><i class="fa fa-wheelchair" style="padding-right:7px"></i> Bathroom <span class="tooltip" title="3 Bathrooms">3 Bathrooms</span></li>
					<li><i class="fa fa-compress" style="padding-right:8px"></i> Total Area <span class="tooltip" title="1560 Sq.ft">1560 Sq.ft</span></li>
				</ul> <!-- End .properties_history -->
			</div>

			<!-- ________________________ Item 4 ____________________ -->
			<div class="col-lg-4 col-md-6 col-sm-6 single_properties">
				<div class="properties_name">
					<div class="title">
						<a href="property-details.html">
							<h6>MetLife Apartment</h6>
							<h4>$ 15,000 <span>/ month</span></h4>
						</a>
					</div> <!-- End .title -->
					<div class="author_img border_round">
						<img src="images/home/a2.jpg" alt="images" class="border_round">
					</div> <!-- End .author_img -->
				</div> <!-- End .properties_name -->

				<div class="image_holder">
					<img src="images/home3/9.jpg" alt="image" class="img-responsive">
				</div> <!-- End .image_holder -->

				<ul class="properties_history">
					<li><i class="fa fa-bed" style="padding-right:4px"></i> Bedroom <span class="tooltip" title="2 Bedrooms">2 Bedrooms</span></li>
					<li><i class="fa fa-wheelchair" style="padding-right:7px"></i> Bathroom <span class="tooltip" title="3 Bathrooms">3 Bathrooms</span></li>
					<li><i class="fa fa-compress" style="padding-right:8px"></i> Total Area <span class="tooltip" title="1800 Sq.ft">1800 Sq.ft</span></li>
				</ul> <!-- End .properties_history -->
			</div>

			<!-- ________________________ Item 5 ____________________ -->
			<div class="col-lg-4 col-md-6 col-sm-6 single_properties">
				<div class="properties_name">
					<div class="title">
						<a href="property-details.html">
							<h6>Green Acres House</h6>
							<h4>$ 14,500 <span>/ month</span></h4>
						</a>
					</div> <!-- End .title -->
					<div class="author_img border_round">
						<img src="images/home/a1.jpg" alt="images" class="border_round">
					</div> <!-- End .author_img -->
				</div> <!-- End .properties_name -->

				<div class="image_holder">
					<img src="images/home3/10.jpg" alt="image" class="img-responsive">
					<span class="property_tag tran3s">Featured</span>
				</div> <!-- End .image_holder -->

				<ul class="properties_history">
					<li><i class="fa fa-bed" style="padding-right:4px"></i> Bedroom <span class="tooltip" title="2 Bedrooms">2 Bedrooms</span></li>
					<li><i class="fa fa-wheelchair" style="padding-right:7px"></i> Bathroom <span class="tooltip" title="2 Bathrooms">2 Bathrooms</span></li>
					<li><i class="fa fa-compress" style="padding-right:8px"></i> Total Area <span class="tooltip" title="1400 Sq.ft">1400 Sq.ft</span></li>
				</ul> <!-- End .properties_history -->
			</div>

			<!-- ________________________ Item 6 ____________________ -->
			<div class="col-lg-4 col-md-6 col-sm-6 single_properties">
				<div class="properties_name">
					<div class="title">
						<a href="property-details.html">
							<h6>High Rise building</h6>
							<h4>$ 12,500 <span>/ month</span></h4>
						</a>
					</div> <!-- End .title -->
					<div class="author_img border_round">
						<img src="images/home/a3.jpg" alt="images" class="border_round">
					</div> <!-- End .author_img -->
				</div> <!-- End .properties_name -->

				<div class="image_holder">
					<img src="images/home3/11.jpg" alt="image" class="img-responsive">
				</div> <!-- End .image_holder -->

				<ul class="properties_history">
					<li><i class="fa fa-bed" style="padding-right:4px"></i> Bedroom <span class="tooltip" title="2 Bedrooms">2 Bedrooms</span></li>
					<li><i class="fa fa-wheelchair" style="padding-right:7px"></i> Bathroom <span class="tooltip" title="2 Bathrooms">2 Bathrooms</span></li>
					<li><i class="fa fa-compress" style="padding-right:8px"></i> Total Area <span class="tooltip" title="1300 Sq.ft">1300 Sq.ft</span></li>
				</ul> <!-- End .properties_history -->
			</div>

		</div> <!-- End .row -->
	</div> <!-- End .rent_properties -->
	<!-- _____________________________________ End Properties For Rent ____________________________________ -->



	<!-- _______________________________________ Properties For Sale ______________________________________ -->

	<div class="sale_properties">
		<!-- Main_title__________ -->
		<div class="main_title">
			<h2>Properties For Sale</h2>
			<div class="dropdown">
				<button class="btn-dropdown dropdown-toggle" type="button" id="dropdownMenu11" data-toggle="dropdown" aria-haspopup="true">
					California
					<i class="fa fa-sort-desc"></i>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu11">
					<li>Sanfransico</li>
					<li>Sandspoint</li>
					<li>Los Angeles</li>
					<li>California</li>
				</ul>
			</div> <!-- End .dropdown -->
		</div>
		<!-- End Main_title______ -->

		<div class="properties_item_two row">
			<!-- ________________________ Item 1 ____________________ -->
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="single_properties">
					<a href="property-details.html"><h4>North Parch California United States - 58696</h4></a>
					<div class="img_holder">
						<a href="images/home3/12.jpg" class="fancybox">
							<img src="images/home3/12.jpg" alt="images" class="img-responsive">
						</a>
					</div> <!-- End .img_holder -->
					<div class="property_details">
						<h4>$ 44,00,000</h4>
						<span>Marbella, Luxury Villa</span>
					</div>
					<ul>
						<li class="tooltip" title="East"><i class="fa fa-trello"></i>East</li>
						<li class="tooltip" title="2 Bedroom"><i class="fa fa-bed"></i>2 Br</li>
						<li class="tooltip" title="2 Bathroom"><i class="fa fa-wheelchair"></i>2 Ba</li>
						<li class="tooltip" title="560 Sq"><i class="fa fa-compress"></i>560 Sq</li>
					</ul>
				</div> <!-- End .single_properties -->
			</div>

			<!-- ________________________ Item 2 ____________________ -->
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="single_properties">
					<span class="sale">Top</span>
					<a href="property-details.html"><h4>56/85 redfort California United Sates - 90021</h4></a>
					<div class="img_holder">
						<a href="images/home3/13.jpg" class="fancybox">
							<img src="images/home3/13.jpg" alt="images" class="img-responsive">
						</a>
					</div> <!-- End .img_holder -->
					<div class="property_details">
						<h4>$ 64,00,000 </h4>
						<span>Elveria, Beach Vila</span>
					</div>
					<ul>
						<li class="tooltip" title="East"><i class="fa fa-trello"></i>East</li>
						<li class="tooltip" title="3 Bedroom"><i class="fa fa-bed"></i>3 Br</li>
						<li class="tooltip" title="2 Bathroom"><i class="fa fa-wheelchair"></i>2 Ba</li>
						<li class="tooltip" title="840 Sq"><i class="fa fa-compress"></i>840 Sq</li>
					</ul>
				</div> <!-- End .single_properties -->
			</div>

			<!-- ________________________ Item 3 ____________________ -->
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="single_properties">
					<span class="sale">Top</span>
					<a href="property-details.html"><h4>Raibow MAnor California United Sates - 58693</h4></a>
					<div class="img_holder">
						<a href="images/home3/14.jpg" class="fancybox">
							<img src="images/home3/14.jpg" alt="images" class="img-responsive">
						</a>
					</div> <!-- End .img_holder -->
					<div class="property_details">
						<h4>$ 52,25,000</h4>
						<span>Marbella, Romantic Villa</span>
					</div>
					<ul>
						<li class="tooltip" title="East"><i class="fa fa-trello"></i>East</li>
						<li class="tooltip" title="3 Bedroom"><i class="fa fa-bed"></i>3 Br</li>
						<li class="tooltip" title="2 Bathroom"><i class="fa fa-wheelchair"></i>2 Ba</li>
						<li class="tooltip" title="560 Sq"><i class="fa fa-compress"></i>560 Sq</li>
					</ul>
				</div> <!-- End .single_properties -->
			</div>

		</div> <!-- End .properties_item_two -->
	</div> <!-- End .sale_properties -->

	<!-- ___________________________________ End Properties For Sale ______________________________________ -->
</div>

