{% trans_default_domain 'main_menu' %}

<div class="properties_search container">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#rent">{{ 'for.rent' | trans | capitalize }}</a></li>
		<li><a data-toggle="tab" href="#sale">{{ 'for.sale' | trans | capitalize }}</a></li>
	</ul>

	<div class="search_category">
		<div class="tab-content">
			<div id="rent" class="search_form tab-pane fade in active">
				<form action="#">
					<div class="selectmenu_type_1 space_fix single_form">
						<input type="text" placeholder="Search By  City / Town...">
					</div> <!-- End .single_form -->

					<div class="selectmenu_type_2 space_fix single_form space_fix_small_device">
						<select class="selectmenu">
							<option selected="selected">Property Type</option>
							<option>Aparment</option>
							<option>House</option>
							<option>Office</option>
							<option>Villa</option>
							<option>Resort</option>
						</select>
					</div> <!-- End .single_form -->

					<div class="selectmenu_type_2 space_fix single_form">
						<select class="selectmenu">
							<option selected="selected">No.Of Rooms</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
						</select>
					</div> <!-- End .single_form -->

					<div class="selectmenu_type_2 space_fix single_form">
						<select class="selectmenu">
							<option selected="selected">Price List</option>
							<option>20,000$</option>
							<option>35,000$</option>
							<option>50,000$</option>
						</select>
					</div> <!-- End .single_form -->

					<div class="single_form selectmenu_type_3">
						<button class="tran3s"><i class="fa fa-search"></i></button>
					</div> <!-- End .single_form -->
				</form>
			</div> <!-- End #rent -->

			<div id="sale" class="search_form tab-pane fade">
				<form action="#">
					<div class="selectmenu_type_1 space_fix single_form">
						<input type="text" placeholder="Search By  City / Town...">
					</div> <!-- End .single_form -->

					<div class="selectmenu_type_2 space_fix single_form space_fix_small_device">
						<select class="selectmenu">
							<option selected="selected">Property Type</option>
							<option>Aparment</option>
							<option>House</option>
							<option>Office</option>
							<option>Villa</option>
							<option>Resort</option>
						</select>
					</div> <!-- End .single_form -->

					<div class="selectmenu_type_2 space_fix single_form">
						<select class="selectmenu">
							<option selected="selected">No.Of Rooms</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
						</select>
					</div> <!-- End .single_form -->

					<div class="selectmenu_type_2 space_fix single_form">
						<select class="selectmenu">
							<option selected="selected">Price List</option>
							<option>20,000$</option>
							<option>25,000$</option>
							<option>30,000$</option>
						</select>
					</div> <!-- End .single_form -->

					<div class="single_form selectmenu_type_3">
						<button class="tran3s"><i class="fa fa-search"></i></button>
					</div> <!-- End .single_form -->
				</form>
			</div> <!-- End #sale -->
		</div> <!-- End .tab-content -->
	</div> <!-- End .search_category -->
</div> <!-- End .properties_search -->