<div class="properties_slider_banner">
	<div id="properties_slider_3">
		<!-- ______________ item 1 _____________ -->
		<div class="single_properties item">
			<div class="img_holder">
				<a href="property-details.html"><img src="images/home3/2.jpg" alt="images"></a>
			</div> <!-- End .img_holder -->

			<div class="properties_name">
				<a href="property-details.html" style="display:block;"><h5>Downtown Penthouse</h5></a>
				<span><i class="fa fa-map-marker"></i> Sanfransico</span>
				<h4>$ 16,850 <span>/ Per Month</span></h4>
			</div> <!-- End .properties_name -->
			<div class="author_img border_round">
				<img src="images/home/a1.jpg" alt="author" class="border_round">
				<div class="overlay border_round tran3s">
					<a href="tel:888-999-777"><i class="fa fa-phone"></i></a>
				</div>
			</div> <!-- End .author_img -->
			<div class="clear_fix"></div>
		</div> <!-- End .single_properties -->

		<!-- ______________ item 2 _____________ -->

		<div class="single_properties item">
			<div class="img_holder">
				<a href="property-details.html"><img src="images/home3/3.jpg" alt="images"></a>
			</div> <!-- End .img_holder -->

			<div class="properties_name">
				<a href="property-details.html" style="display:block;"><h5>Pinacle Crest Town</h5></a>
				<span><i class="fa fa-map-marker"></i> California</span>
				<h4>$ 48,00,000</h4>
			</div> <!-- End .properties_name -->
			<div class="author_img border_round">
				<img src="images/home/a2.jpg" alt="author" class="border_round">
				<div class="overlay border_round tran3s">
					<a href="tel:888-999-777"><i class="fa fa-phone"></i></a>
				</div>
			</div> <!-- End .author_img -->
			<div class="clear_fix"></div>
		</div> <!-- End .single_properties -->

		<!-- ______________ item 3 _____________ -->

		<div class="single_properties item">
			<div class="img_holder">
				<a href="property-details.html"><img src="images/home3/4.jpg" alt="images"></a>
			</div> <!-- End .img_holder -->

			<div class="properties_name">
				<a href="property-details.html" style="display:block;"><h5>jungle Golf Villas</h5></a>
				<span><i class="fa fa-map-marker"></i> Sanfransico</span>
				<h4>$ 14,000 <span>/ Per Month</span></h4>
			</div> <!-- End .properties_name -->
			<div class="author_img border_round">
				<img src="images/home/a1.jpg" alt="author" class="border_round">
				<div class="overlay border_round tran3s">
					<a href="tel:888-999-777"><i class="fa fa-phone"></i></a>
				</div>
			</div> <!-- End .author_img -->
			<div class="clear_fix"></div>
		</div> <!-- End .single_properties -->

		<!-- ______________ item 4 _____________ -->

		<div class="single_properties item">
			<div class="img_holder">
				<a href="property-details.html"><img src="images/home3/5.jpg" alt="images"></a>
			</div> <!-- End .img_holder -->

			<div class="properties_name">
				<a href="property-details.html" style="display:block;"><h5>The Stone Mansion</h5></a>
				<span><i class="fa fa-map-marker"></i> Sanfransico</span>
				<h4>$ 15,000 <span>/ Per Month</span></h4>
			</div> <!-- End .properties_name -->
			<div class="author_img border_round">
				<img src="images/home/a2.jpg" alt="author" class="border_round">
				<div class="overlay border_round tran3s">
					<a href="tel:888-999-777"><i class="fa fa-phone"></i></a>
				</div>
			</div> <!-- End .author_img -->
			<div class="clear_fix"></div>
		</div> <!-- End .single_properties -->

		<!-- ______________ item 5 _____________ -->

		<div class="single_properties item">
			<div class="img_holder">
				<a href="property-details.html"><img src="images/home3/2.jpg" alt="images"></a>
			</div> <!-- End .img_holder -->

			<div class="properties_name">
				<a href="property-details.html" style="display:block;"><h5>Downtown Penthouse</h5></a>
				<span><i class="fa fa-map-marker"></i> Sanfransico</span>
				<h4>$ 16,850 <span>/ Per Month</span></h4>
			</div> <!-- End .properties_name -->
			<div class="author_img border_round">
				<img src="images/home/a1.jpg" alt="author" class="border_round">
				<div class="overlay border_round tran3s">
					<a href="tel:888-999-777"><i class="fa fa-phone"></i></a>
				</div>
			</div> <!-- End .author_img -->
			<div class="clear_fix"></div>
		</div> <!-- End .single_properties -->

		<!-- ______________ item 6 _____________ -->

		<div class="single_properties item">
			<div class="img_holder">
				<a href="property-details.html"><img src="images/home3/5.jpg" alt="images"></a>
			</div> <!-- End .img_holder -->

			<div class="properties_name">
				<a href="property-details.html" style="display:block;"><h5>The Stone Mansion</h5></a>
				<span><i class="fa fa-map-marker"></i> Sanfransico</span>
				<h4>$ 15,000 <span>/ Per Month</span></h4>
			</div> <!-- End .properties_name -->
			<div class="author_img border_round">
				<img src="images/home/a2.jpg" alt="author" class="border_round">
				<div class="overlay border_round tran3s">
					<a href="tel:888-999-777"><i class="fa fa-phone"></i></a>
				</div>
			</div> <!-- End .author_img -->
			<div class="clear_fix"></div>
		</div> <!-- End .single_properties -->


		<!-- ______________ item 7 _____________ -->

		<div class="single_properties item">
			<div class="img_holder">
				<a href="property-details.html"><img src="images/home3/4.jpg" alt="images"></a>
			</div> <!-- End .img_holder -->

			<div class="properties_name">
				<a href="property-details.html" style="display:block;"><h5>jungle Golf Villas</h5></a>
				<span><i class="fa fa-map-marker"></i> Sanfransico</span>
				<h4>$ 14,000 <span>/ Per Month</span></h4>
			</div> <!-- End .properties_name -->
			<div class="author_img border_round">
				<img src="images/home/a1.jpg" alt="author" class="border_round">
				<div class="overlay border_round tran3s">
					<a href="tel:888-999-777"><i class="fa fa-phone"></i></a>
				</div>
			</div> <!-- End .author_img -->
			<div class="clear_fix"></div>
		</div> <!-- End .single_properties -->

		<!-- ______________ item 8 _____________ -->

		<div class="single_properties item">
			<div class="img_holder">
				<a href="property-details.html"><img src="images/home3/3.jpg" alt="images"></a>
			</div> <!-- End .img_holder -->

			<div class="properties_name">
				<a href="property-details.html" style="display:block;"><h5>Pinacle Crest Town</h5></a>
				<span><i class="fa fa-map-marker"></i> California</span>
				<h4>$ 48,00,000</h4>
			</div> <!-- End .properties_name -->
			<div class="author_img border_round">
				<img src="images/home/a2.jpg" alt="author" class="border_round">
				<div class="overlay border_round tran3s">
					<a href="tel:888-999-777"><i class="fa fa-phone"></i></a>
				</div>
			</div> <!-- End .author_img -->
			<div class="clear_fix"></div>
		</div> <!-- End .single_properties -->

		<!-- ______________ item 9 _____________ -->

		<div class="single_properties item">
			<div class="img_holder">
				<a href="property-details.html"><img src="images/home3/4.jpg" alt="images"></a>
			</div> <!-- End .img_holder -->

			<div class="properties_name">
				<a href="property-details.html" style="display:block;"><h5>jungle Golf Villas</h5></a>
				<span><i class="fa fa-map-marker"></i> Sanfransico</span>
				<h4>$ 14,000 <span>/ Per Month</span></h4>
			</div> <!-- End .properties_name -->
			<div class="author_img border_round">
				<img src="images/home/a1.jpg" alt="author" class="border_round">
				<div class="overlay border_round tran3s">
					<a href="tel:888-999-777"><i class="fa fa-phone"></i></a>
				</div>
			</div> <!-- End .author_img -->
			<div class="clear_fix"></div>
		</div> <!-- End .single_properties -->


		<!-- ______________ item 10 _____________ -->

		<div class="single_properties item">
			<div class="img_holder">
				<a href="property-details.html"><img src="images/home3/5.jpg" alt="images"></a>
			</div> <!-- End .img_holder -->

			<div class="properties_name">
				<a href="property-details.html" style="display:block;"><h5>The Stone Mansion</h5></a>
				<span><i class="fa fa-map-marker"></i> Sanfransico</span>
				<h4>$ 15,000 <span>/ Per Month</span></h4>
			</div> <!-- End .properties_name -->
			<div class="author_img border_round">
				<img src="images/home/a2.jpg" alt="author" class="border_round">
				<div class="overlay border_round tran3s">
					<a href="tel:888-999-777"><i class="fa fa-phone"></i></a>
				</div>
			</div> <!-- End .author_img -->
			<div class="clear_fix"></div>
		</div> <!-- End .single_properties -->


		<!-- ______________ item 11 _____________ -->

		<div class="single_properties item">
			<div class="img_holder">
				<a href="property-details.html"><img src="images/home3/2.jpg" alt="images"></a>
			</div> <!-- End .img_holder -->

			<div class="properties_name">
				<a href="property-details.html" style="display:block;"><h5>Downtown Penthouse</h5></a>
				<span><i class="fa fa-map-marker"></i> Sanfransico</span>
				<h4>$ 16,850 <span>/ Per Month</span></h4>
			</div> <!-- End .properties_name -->
			<div class="author_img border_round">
				<img src="images/home/a1.jpg" alt="author" class="border_round">
				<div class="overlay border_round tran3s">
					<a href="tel:888-999-777"><i class="fa fa-phone"></i></a>
				</div>
			</div> <!-- End .author_img -->
			<div class="clear_fix"></div>
		</div> <!-- End .single_properties -->

		<!-- ______________ item 12 _____________ -->

		<div class="single_properties item">
			<div class="img_holder">
				<a href="property-details.html"><img src="images/home3/3.jpg" alt="images"></a>
			</div> <!-- End .img_holder -->

			<div class="properties_name">
				<a href="property-details.html" style="display:block;"><h5>Pinacle Crest Town</h5></a>
				<span><i class="fa fa-map-marker"></i> California</span>
				<h4>$ 48,00,000</h4>
			</div> <!-- End .properties_name -->
			<div class="author_img border_round">
				<img src="images/home/a2.jpg" alt="author" class="border_round">
				<div class="overlay border_round tran3s">
					<a href="tel:888-999-777"><i class="fa fa-phone"></i></a>
				</div>
			</div> <!-- End .author_img -->
			<div class="clear_fix"></div>
		</div> <!-- End .single_properties -->

	</div>
</div> <!-- End .properties_slider_banner -->