<div id="photo" class="tab-pane row">
    <div class="col-xs-12">
        <div class="row">
            {% if news is not null %}

                {% if news.files is not null %}
                    <div class="col-xs-6">
                        <div class="form-group">
                            {{ form_label(form.files) }}
                            {{ form_widget(form.files, {'attr': {
                                'required': false
                            }}) }}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        image well be here
                    </div>
                {% endif %}
            {% else %}
                <div class="col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.files) }}
                        {{ form_widget(form.files) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>