* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
html .wrapper,
body .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
html .wrapper .header,
body .wrapper .header {
  margin-bottom: 6em;
}
html .wrapper .header .page-main-navbar,
body .wrapper .header .page-main-navbar {
  padding: 1em 0;
}
html .wrapper .header .page-main-navbar .active,
body .wrapper .header .page-main-navbar .active {
  background-color: transparent;
}
html .wrapper .header .page-main-navbar .active a,
body .wrapper .header .page-main-navbar .active a {
  background-color: transparent;
}
html .wrapper .content,
body .wrapper .content {
  flex: 1 0 auto;
}
html .wrapper .footer,
body .wrapper .footer {
  flex: 0 0 auto;
  height: 80px;
}
