{% extends ':odinkg/admin:base.html.twig' %}

{% block top_block %}
    <h2>Управление проектами</h2>
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block content_block %}

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Добавление проекта</h5>
            </div>
            {{ form_start(form) }}
            {% set prototype = form_widget(form.files.vars.prototype)|e('html_attr') %}
            <div class="ibox-content">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#main-info"><i class="fa fa-user"></i> Основная
                            информация</a></li>
                    <li class=""><a data-toggle="tab" href="#photos"><i class="fa fa-camera"></i> Фотографии</a></li>
                    <li class=""><a data-toggle="tab" href="#additional"><i class="fa fa-file-pdf-o"></i> Дополнительно</a></li>
                </ul>
                <div class="tab-content" style="padding-top: 20px;">
                    {% include ':odinkg/admin/project/tabs:main_info.html.twig' %}
                    {% include ':odinkg/admin/project/tabs:photos.html.twig' with {'data_prototype': prototype } %}
                    {% include ':odinkg/admin/project/tabs:additional.html.twig' with {'data_prototype': prototype } %}
                </div>
            </div>
            <div class="ibox-footer">
                <div class="btn-group">
                    <a href="{{ path('admin.project.list') }}" type="button" class="btn btn-success"><span
                                class="fa fa-chevron-left"></span>&nbsp;Назад</a>
                    <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span>&nbsp;Сохранить
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}

{% block custom_js %}
    <script>

        $('.remove-photo-btn').click(function () {
            var file = $(this).data('file'),
                url = '{{ path('admin.delete_file', {'file': '_file'}) }}';

            $.ajax({
                url: url.replace('_file', file),
                method: 'POST',
                success: function () {
                    $("#item_" + file).remove();
                },
                error: function (resp) {
                    alert(resp);
                }
            });
        })
    </script>
{% endblock %}