<div class="contact-widget widget">
    <h3 class="widget-title">Свяжитесь с нами</h3>
    <div class="contact-info">
        <p><i class="fa fa-location-arrow"></i>2561 Round Table Drive Cincinnati, OH 45202</p>
        <p><i class="fa fa-phone"></i><a href="#">513-784-5268</a></p>
        <p><i class="fa fa-envelope"></i><a href="#">support@esmeth.com</a></p>
    </div>
</div>