<div class="contact-widget widget">
    <h3 class="widget-title">Свяжитесь с нами</h3>
    <div class="contact-info">
        <p><i class="fa fa-location-arrow"></i>ул. Молодёжная, 46, г. Одинцово, Московская обл.</p>
        <p><i class="fa fa-phone"></i><a href="#">8-985-760-85-81</a></p>
        <p><i class="fa fa-envelope"></i><a href="#">6612388@mail.ru</a></p>
    </div>
</div>