<div class="btn-group">
    <button class="btn btn-primary repair" data-object="{{ object.id }}" data-entity="{{ entity }}">
        <i class="fa fa-undo"></i>
    </button>
    <button class="btn btn-danger delete" data-object="{{ object.id }}" data-entity="{{ entity }}">
        <i class="fa fa-trash"></i>
    </button>
</div>