{% extends 'odinkg/admin/base.html.twig' %}

{% block top_block %}
    <h2>Новости</h2>
    <small>Добавить новость</small>
{% endblock %}

{% block custom_css %}

{% endblock %}

{% block content_block %}
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Добавление проекта</h5>
            </div>
            {{ form_start(form) }}
            <div class="ibox-content">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#main-info"><i class="fa fa-info"></i> Содержание
                            новости</a></li>
                    <li class=""><a data-toggle="tab" href="#photo"><i class="fa fa-camera"></i> Иллюстрация</a></li>
                </ul>
                <div class="tab-content" style="padding-top: 20px;">
                    {% include ':odinkg/admin/news/tabs:main_info.html.twig' %}
                    {% include ':odinkg/admin/news/tabs:photo.html.twig' %}
                </div>
            </div>
            <div class="ibox-footer">
                <div class="btn-group">
                    <a href="{{ path('admin.news') }}" type="button" class="btn btn-success">
                        <span class="fa fa-chevron-left"></span>&nbsp;Назад
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-save"></span>&nbsp;Сохранить
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}